@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#board {
  width: 97.5vmin;
  height: 97.5vmin;
  border: 2px solid hsl(0, 0%, 20%);
  display: flex;
  flex-direction: column;
}

#board > div {
  flex-grow: 1;
  display: flex;
}

#board > div > div {
  flex-grow: 1;
}

#board > div:nth-child(odd) > div:nth-child(even).void,
#board > div:nth-child(even) > div:nth-child(odd).void {
  background-color: hsl(0, 0%, 95%);
}
#board > div:nth-child(odd) > div:nth-child(odd).void,
#board > div:nth-child(even) > div:nth-child(even).void {
  background-color: hsl(0, 0%, 90%);
}

#board .cell.snake {
  background-color: hsl(0, 0%, 35%);
}

#board .cell.food {
  background-color: hsl(198, 91%, 65%);
}

#gameOver {
  position: absolute;
  inset: 0;
  background: hsl(0, 0%, 20%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vmin;
  opacity: 1;
  transition: opacity 0.5s;
  flex-direction: column;
  gap: 2vmin;
}

#gameOver.hidden {
  opacity: 0;
}

#restart {
  padding: 1vmin;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 2vmin;
}
